.note-title{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.container {
    padding: 5px 15px;
    background-color: bisque;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(230, 204, 173);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-div{
    display: flex;
    height: 9%;
}

.middle-div {
    height: 70%;
    max-height: 70%;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow-y: scroll;
    scrollbar-width: none;
}

.bottom-div {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}